@import url('https://fonts.googleapis.com/css?family=Merriweather');
body{
    font-family: 'Merriweather', serif;
}
.wrapper{
    width: 50%;
    margin: 5vh auto;
    text-align: center;        
}
.user-input{    
    width: 20%;
    padding: 10px;
    border: 1px #CCC solid;
    border-radius: 2px;
    display: block;  
    margin: auto;  
}
.user-input:focus{
    box-shadow: 0px 0px 5px rgb(29, 180, 240);
}
.submit{    
    background: rgb(29, 180, 240);
    color: #FFF;
    padding: 1vw;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border:0px #000 solid;
    border-radius: 2px;
    transition:background 0.5s;
    display: block;
    margin: 2vh auto;
}
.submit:hover{
    cursor: pointer;
    background: rgb(26, 156, 207);
}
.user-post{
    text-align: left;
}